div[aria-label="Membros"] div[aria-expanded="false"] > div > div > div > span > svg {
    color: #1a1b26;
}

div[aria-label="Membros"] div[aria-expanded="false"] > div > div > div > span > span {
    color: #1a1b26;
    font-weight: 700;
}
